extends ../layout

block content
    section.content-header
        h1
            | Listagem de Eventos
            small Listagem de todos os eventos
        ol.breadcrumb
            li
                a(href='#')
                    i.fa.fa-dashboard
                    |  Home
            li.active Eventos


    section.content
        .row
            .col-md-12
                .box
                    .box-header.with-border
                        h3.box-title Eventos
                    // /.box-header
                    .box-body
                        table.table.table-bordered
                            tbody
                                tr
                                    th(style='width: 10px') #
                                    th(style='width: 150px') Código Confirmação
                                    th Código CN
                                    th Nome
                                    th Telefone
                                    th Check In
                                    th Check Out
                                each participant in participants
                                    tr
                                        td=participant.id
                                        td=participant.confirmation_code
                                        td=participant.cn_code
                                        td=participant.name
                                        td=participant.phone_number
                                        td=moment(participant.checkin).format('DD/MM/YY H:m')
                                        td=moment(participant.checkout).format('DD/MM/YY H:m')
                    // /.box-body
                    .box-footer.clearfix
                        ul.pagination.pagination-sm.no-margin.pull-right
                            li
                                a(href='#') «
                            li
                                a(href='#') 1
                            li
                                a(href='#') »

block scripts
    script(src='/js/pages/event.js')